/****nav*****/
/*#bs-navbar >ul:first-child a.btn{*/
    /*color: #eeeeee ;*/
    /*!important;*/
    /*line-height:30px;*/
/*}*/
/*#bs-navbar >ul:first-child li:hover{*/
    /*line-height:20px;*/
    /*background-color: #89ae00;*/
    /*background-image: url("background.png");*/
/*}*/
#bs-navbar >ul:first-child a.btn:hover{
    color: #4169E1 !important;
}
/*#bs-navbar ul {*/
    /*margin-left:17%;*/
/*}*/
/*#navbar {*/
     /*background-image: url("background1.png");*/
     /*background-size:cover;*/
 /*}*/
.navbar-brand {
   /* color: aliceblue;*/
}
.navbar-brand:hover {
    color: aliceblue;
}
#go-cover-btn {
    cursor: pointer;
}
.navbar-header .icon{
    width: 1.5em; height: 1.5em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.bupt-logo {
    margin-left:2px;
    font-size:30px;
}
/*****login****/
#login-span a,#logout-span a{
    padding-left: 2px;
    padding-right: 2px;
    color: #FFFFFF;
}
#login-span a:hover,#logout-span a:hover{
    padding-left: 2px;
    padding-right: 2px;
    font-weight: bold;
    text-decoration: underline;
}
#login-message{
    /*color: #ff0000;*/
}

/*��¼����ʽ*/
.modal-header {
    cursor: move;
}
.modal-content {
    top:auto;
    left:auto;
}

/*****register****/
#register-span a {
    padding-left: 2px;
    padding-right: 2px;
    color: #FFFFFF;
}
#register-span a:hover{
    padding-left: 2px;
    padding-right: 2px;
    font-weight: bold;
    text-decoration: underline;
}
#login-logout-span a {
    padding-left: 2px;
    padding-right: 2px;
    font-weight: bold;
    text-decoration: underline;
}
/*导航条字体样式*/
.navbar-nav>li>a{
    font-weight:500;
    font-family: 微软雅黑;
    font-size: 17px;
    display: inline-block;
    height: 100%;
    width: auto;
}
.navbar-inverse .navbar-nav > li > a {
    color:#eeeeee;
}
.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}

ul li{
    list-style:none;
}
.listyle{
    float: left;
    display: inline;
    margin-right: 1%;
    margin-left: 2%;
}
#ulstyle{
    overflow: hidden;height: 60px; width:70%;list-style-type: none;margin:0 auto ;display: inline-block;float:right;
    margin-block-start: 0;
    margin-right:10%;margin-left:10%;
    margin-block-end: 0px;margin-inline-start: 1%; margin-inline-end: 1%; padding-inline-start: 3%;
}
.logotext{
    font-size:30px;
    font-family:Ebrima;
    line-height: 30px;
    font-weight:normal;
    color:white;
    padding-bottom:10px;
    height: 100%;
    width: 20%;
}
img{
    vertical-align:middle;
    width:40px;
    height:35px;
}
#go-index-btn #go-tool-btn #go-map-btn #go-data-analysis-btn #go-third-btn #go-large-screen-btn #go-gallery-btn #go-login-btn
.navbar-inverse .navbar-nav > li > a
{
    padding:15px 0; float: left;color: #eeeeee ;
}

@media screen and (max-width: 768px) {
    #ulstyle {
        width: 100%;
        height: 100%;
        display: inline-block;
        float: right;
        /*color:red;*/
    }
    ul li{
        float:left;
    }
    .navbar-collapse{
        max-height: 450px;
        padding-left:20% ;
        padding-right: 45%;
        overflow-x: visible;
    }
    #bs-navbar{
        background-color: grey;
        /*opacity: 0.4;*/
    }
    .listyle{
        width: 100%;
        display: inline-block;
        float: right;
        /*color:red;*/
    }
    .navbar-inverse .navbar-collapse{
         background-color:white ;
        /*border-color: transparent;*/
    }
    .navbar-collapse{
        /*border-color:;*/
    }
    .navbar-inverse .navbar-nav > li > a {
    }
    .navbar-collapse
    {

    }
}
@media screen and (max-width: 1120px) {

.navbar-nav>li>a{
    font-weight:normal;
    font-family: 微软雅黑;
    font-size: 15px;
    display: inline-block;
    height: 100%;
    width: auto;
}
}