<!--<!DOCTYPE html>-->

<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
      <!--xmlns:th="http://www.thymeleaf.org"-->
      <!--xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">-->
<!--<head>-->
    <!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge"/>-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1"/>-->
    <!--<link th:src="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>-->
    <!--<title>Home Page</title>-->
<!--</head>-->
<!--<body>-->

<!--<div class="container" align="center">-->
    <!--<h2><a href="/admin">仅管理员可以访问admin</a></h2>-->
    <!--<h2>Hello [<span sec:authentication="name"></span>] <span th:text="${msg}"></span></h2>-->
    <!--<h1>这是普通用户界面</h1>-->
    <!--<form th:action="@{/logout}" method="post" id="logoutForm"></form>-->
    <!--<button type="submit" form="logoutForm">注销</button>-->
<!--</div>-->

<iframe width="100%" height="100%"
        src="../../../../../../http/index.html" frameborder="0"></iframe>


