<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace= "com.s2charts.dao.mapper.user.SysPicMapper" >
    <resultMap id="option" type="com.s2charts.dao.entity.user.SysPic">
        <result column="user_pic"  property="userPic"/>
        <result column="pic_option"  property="picOption"/>
    </resultMap>


    <select id = "insertUserPic" resultType="SysPic">
        INSERT into tb_pic(user_id,user_pic,pic_option) VALUES
        (#{userId,jdbcType=INTEGER},#{userPic,jdbcType=VARCHAR},#{picOption,jdbcType=VARCHAR});
    </select>


    <select id = "getPicOption" resultMap="option">
       select user_pic,pic_option from tb_pic where user_pic=#{userPic};
    </select>

</mapper>